<h1><%= @question.title %></h1><h2 id="votes"><%= render 'votes/vote' %></h2>
<h3><%= @question.content %><h3><%= button_to 'Upvote', upvote_question_path(@question.id), remote: true %>
<%= button_to 'Downvote', downvote_question_path(@question.id), remote: true %>
<br>
<%= link_to 'Edit Question', edit_question_path(@question) %>
 <%= link_to 'Destroy', question_path(@question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<h3>Answers:</h3>
<br>
<% @question.answers.each do |answer| %>
  <h3><%= answer.title  %></h3><h4><%= answer.votes.where(direction: :up).count - answer.votes.where(direction: :down).count  %></h4> <!-- I KNOW THIS IS TERRIBLE FORM!!!!!!!!!! -->
  <p><%= answer.content %></p>
  <%= button_to 'Upvote', upvote_question_answer_path(@question.id, answer.id) %>
  <%= button_to 'Downvote', downvote_question_answer_path(@question.id, answer.id) %>

<% end %>

<h3><%= link_to 'Back to Main', questions_path %></h3>

<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
